<!DOCTYPE html>
<html lang="en">

<head th:replace="header::head-fragment('用户中心')">
</head>

<body>
    <div th:replace="admin/header::header-fragment-adminHead"></div>
    <div th:replace="admin/header::header-fragment-adminSide"></div>

    <div class="layui-tab-brief">
        <div style="height: 40px;"></div>
        <div style="left: 200px; padding: 10px; height: 100%; min-height: 900px;" class="layui-panel">
            <div class="layui-tab layui-tab-brief" style="margin: 20px;">
                <ul class="layui-tab-title">
                    <li class="layui-this">帖子信息</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <form onsubmit="return false" action="##" style="width: 1650px;">
                            <table class="layui-table" style="width: 1650px;" lay-even lay-skin="nob">
                                <colgroup>
                                    <col width="50">
                                    <col width="5">
                                    <col width="5">
                                    <col width="100">
                                    <col width="5">
                                    <col width="120">
                                    <col width="5">
                                    <col width="100">
                                    <col width="100">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th style="text-align: center;"><button id="selectButton" onclick="selectAll()"
                                                class="layui-btn layui-btn-sm">全选</button></th>
                                        <th>ID</th>
                                        <th>发布者</th>
                                        <th>标题</th>
                                        <th>分类</th>
                                        <th>阅读 | 评论 | 收藏 | 点赞</th>
                                        <th>帖子状态</th>
                                        <th>上次登录时间</th>
                                        <th>发布时间</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <th:block th:unless="${#lists.isEmpty(articles)}">
                                        <th:block th:each=" a, aStat : ${articles}">
                                            <th:block
                                                th:if="${aStat.index} ge ((${page} - 1) * 10) and ${aStat.index} lt (${page} * 10)">
                                                <tr>
                                                    <td style="text-align: center;"><input th:value="${a.id}" name="articleId" type="checkbox"></td>
                                                    <td th:text="${a.id}">4</td>
                                                    <td th:text="${users[a.userId].nickName} + ' id:' + ${a.userId}">棠槿牵樱 id:4</td>
                                                    <td><a th:text="${#strings.abbreviate(a.title, 15)}" th:title="${a.title}" th:href="@{'/article/detail/' + ${a.id}}">rgbugegjcmu@163.com</a></td>
                                                    <td th:text="${a.categoryName}">未知</td>
                                                    <td th:text="${a.views} + ' | ' + ${a.comments} + ' | ' + ${a.collects} + ' | ' + ${a.likes}"></td>
                                                    <th:block th:if="${a.articleStatus == 1}">
                                                        <td><span class="layui-bg-green" style="padding: 5px;">已审核</span></td>
                                                    </th:block>
                                                    <th:block th:if="${a.articleStatus == 0}">
                                                        <td><span class="layui-bg-red" style="padding: 5px;">未审核</span></td>
                                                    </th:block>
                                                    <th:block th:if="${a.articleStatus == 2}">
                                                        <td><span class="layui-bg-black" style="padding: 5px;">审核失败</span></td>
                                                    </th:block>
                                                    <td th:text="${a.lastUpdateTime}">2022-06-05 19:45:11</td>
                                                    <td th:text="${a.createTime}">2022-05-19 08:59:15</td>
                                                  </tr>
                                            </th:block>
                                        </th:block>
                                    </th:block>
                                </tbody>
                            </table>
                            <button onclick="unFreezeArticle()" class="layui-btn">通过审核</button>
                            <button onclick="freezeArticle()" class="layui-btn">取消审核</button>
                            <button onclick="deleteArticle()" class="layui-btn layui-bg-red">删除帖子</button>
                            <div style="text-align: center;">
                                <div id="Claypage"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <input id="size" name="size" th:value="${size}" style="position: absolute; visibility: hidden;" type="text"
        readonly>
    <input id="page" name="page" th:value="${page}" style="position: absolute; visibility: hidden;" type="text"
        readonly>

    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/js/public.js}"></script>
    <script>
        layui.use(['layer', 'form', 'element', 'laypage', 'jquery'], function () {
            var layer = layui.layer;
            var element = layui.element;
            var laypage = layui.laypage;
            var form = layui.form;

            var $ = layui.$

            window.selectAll = function () {
                $("[name = 'articleId']").prop("checked", 'checked')
                $('#selectButton').attr('onclick', 'selectAllCancle()')
                $('#selectButton').attr('class', 'layui-btn layui-btn-sm layui-bg-red')
                $('#selectButton').html("取消")
            }

            window.selectAllCancle = function () {
                $("[name = 'articleId']").removeAttr('checked')
                $('#selectButton').attr('onclick', 'selectAll()')
                $('#selectButton').attr('class', 'layui-btn layui-btn-sm')
                $('#selectButton').html("全选")
            }

            window.getChecked = function () {
                var chk_value = [];
                $('input[name = "articleId"]:checked').each(function () {
                    chk_value.push($(this).val());
                });
                var is_checked = chk_value.join(',');
                return is_checked
            }

            window.unFreezeArticle = function () {
                var arr_id = getChecked()
                console.log(arr_id)
                if (arr_id == null) {
                    layer.alert('请选择要审核的帖子!', { title: '提醒', skin: 'layui-layer-molv', icon: 2 });
                    return false;
                }

                var url = '/article/unFreezeArticle'
                var params = {
                    "arr_id": arr_id
                }
                $.ajax({
                    type: 'POST',//方法类型
                    url: url,
                    data: params,
                    success: function (result) {
                        if (result.resultCode == 200) {
                            window.location.reload()
                        } else {
                            layer.msg(result.message)
                        };
                    },
                    error: function () {
                        layer.alert('操作错误!', { title: '提醒', skin: 'layui-layer-molv', icon: 2 });
                    }
                });
            }

            window.freezeArticle = function () {
                var arr_id = getChecked()
                console.log(arr_id)
                if (arr_id == null) {
                    layer.alert('请选择要取消审核的文章!', { title: '提醒', skin: 'layui-layer-molv', icon: 2 });
                    return false;
                }

                var url = '/article/freezeArticle'
                var params = {
                    "arr_id": arr_id
                }
                $.ajax({
                    type: 'POST',//方法类型
                    url: url,
                    data: params,
                    success: function (result) {
                        if (result.resultCode == 200) {
                            window.location.reload()
                        } else {
                            layer.msg(result.message)
                        };
                    },
                    error: function () {
                        layer.alert('操作错误!', { title: '提醒', skin: 'layui-layer-molv', icon: 2 });
                    }
                });
            }

            window.deleteArticle = function () {
                var arr_id = getChecked()
                console.log(arr_id)
                if (arr_id == null) {
                    layer.alert('请选择要删除的用户!', { title: '提醒', skin: 'layui-layer-molv', icon: 2 });
                    return false;
                }
                layer.confirm('真的要删除所选数据吗', { btn: ['确定', '取消'], title: "提示" }, function () {
                    var url = '/article/deleteArticle'
                    var params = {
                        "arr_id": arr_id
                    }
                    $.ajax({
                        type: 'POST',//方法类型
                        url: url,
                        data: params,
                        success: function (result) {
                            if (result.resultCode == 200) {
                                window.location.reload()
                            } else {
                                layer.msg(result.message)
                            };
                        },
                        error: function () {
                            layer.alert('操作错误!', { title: '提醒', skin: 'layui-layer-molv', icon: 2 });
                        }
                    });
                });
            }

            var size = $('#size').val()
            var page = $('#page').val()

            laypage.render({
                elem: 'Claypage',
                count: size,
                limit: 10,
                curr: page,
                jump: function (obj, first) {
                    if (!first) {
                        window.location.href = '/admin/articleManage?page=' + obj.curr
                    }
                }
            });

        });
    </script>

</body>

</html>