<!DOCTYPE html>
<html lang="en">

<head th:replace="header::head-fragment('用户中心')">
</head>

<body>
    <div th:replace="admin/header::header-fragment-adminHead"></div>
    <div th:replace="admin/header::header-fragment-adminSide"></div>

    <div class="layui-tab-brief">
        <div style="height: 40px;"></div>
        <div style="left: 200px; padding: 10px; height: 100%; min-height: 900px;" class="layui-panel">
            <div class="layui-tab layui-tab-brief" style="margin: 20px;">
                <ul class="layui-tab-title">
                    <li class="layui-this">用户信息</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <form onsubmit="return false" action="##" style="width: 1650px;">
                            <table class="layui-table" style="width: 1650px;" lay-even lay-skin="nob">
                                <colgroup>
                                    <col width="50">
                                    <col width="5">
                                    <col width="100">
                                    <col width="100">
                                    <col width="100">
                                    <col width="100">
                                  </colgroup>
                                  <thead>
                                    <tr>
                                      <th style="text-align: center;"><button id="selectButton" onclick="selectAll()" class="layui-btn layui-btn-sm">全选</button></th>
                                      <th>ID</th>
                                      <th>评论帖子</th>
                                      <th>评论者</th>
                                      <th>评论状态</th>
                                      <th>评论时间</th>
                                    </tr> 
                                  </thead>
                                <tbody>
                                    <th:block th:unless="${#lists.isEmpty(comments)}">
                                        <th:block th:each=" c, cStat : ${comments}">
                                            <th:block
                                                th:if="${cStat.index} ge ((${page} - 1) * 10) and ${cStat.index} lt (${page} * 10)">
                                                <tr>
                                                    <td style="text-align: center;"><input th:value="${c.id}" name="commentId" type="checkbox"></td>
                                                    <td th:text="${c.id}">4</td>
                                                    <td th:text="${articlesMap[c.postId].title}" th:title="${articlesMap[c.postId].title}">保密</td>
                                                    <td th:text="${users[c.userId].nickName} + ' id:' + ${c.userId}">棠槿牵樱</td>
                                                    <th:block th:if="${c.isDeleted == 0}">
                                                        <td><span class="layui-bg-green" style="padding: 5px;">已审核</span></td>
                                                    </th:block>
                                                    <th:block th:if="${c.isDeleted == 1}">
                                                        <td><span class="layui-bg-red" style="padding: 5px;">未审核</span></td>
                                                    </th:block>
                                                    <td th:text="${c.createTime}">2022-06-07 16:36:27</td>
                                                  </tr>
                                            </th:block>
                                        </th:block>
                                    </th:block>
                                </tbody>
                            </table>
                            <button onclick="unFreezeComment()" class="layui-btn">通过审核</button>
                            <button onclick="freezeComment()" class="layui-btn">取消审核</button>
                            <button onclick="deleteComment()" class="layui-btn layui-bg-red">删除评论</button>
                            <div style="text-align: center;">
                                <div id="Claypage"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <input id="size" name="size" th:value="${size}" style="position: absolute; visibility: hidden;" type="text"
        readonly>
    <input id="page" name="page" th:value="${page}" style="position: absolute; visibility: hidden;" type="text"
        readonly>

    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/js/public.js}"></script>
    <script>
        layui.use(['layer', 'form', 'element', 'laypage', 'jquery'], function () {
            var layer = layui.layer;
            var element = layui.element;
            var laypage = layui.laypage;
            var form = layui.form;

            var $ = layui.$

            window.selectAll = function () {
                $("[name = 'commentId']").prop("checked", 'checked')
                $('#selectButton').attr('onclick', 'selectAllCancle()')
                $('#selectButton').attr('class', 'layui-btn layui-btn-sm layui-bg-red')
                $('#selectButton').html("取消")
            }

            window.selectAllCancle = function () {
                $("[name = 'commentId']").removeAttr('checked')
                $('#selectButton').attr('onclick', 'selectAll()')
                $('#selectButton').attr('class', 'layui-btn layui-btn-sm')
                $('#selectButton').html("全选")
            }

            window.getChecked = function () {
                var chk_value = [];
                $('input[name = "commentId"]:checked').each(function () {
                    chk_value.push($(this).val());
                });
                var is_checked = chk_value.join(',');
                return is_checked
            }

            window.unFreezeComment = function () {
                var arr_id = getChecked()
                console.log(arr_id)
                if (arr_id == null) {
                    layer.alert('请选择要审核的评论!', { title: '提醒', skin: 'layui-layer-molv', icon: 2 });
                    return false;
                }

                var url = '/comment/unFreezeComment'
                var params = {
                    "arr_id": arr_id
                }
                $.ajax({
                    type: 'POST',//方法类型
                    url: url,
                    data: params,
                    success: function (result) {
                        if (result.resultCode == 200) {
                            window.location.reload()
                        } else {
                            layer.msg(result.message)
                        };
                    },
                    error: function () {
                        layer.alert('操作错误!', { title: '提醒', skin: 'layui-layer-molv', icon: 2 });
                    }
                });
            }

            window.freezeComment = function () {
                var arr_id = getChecked()
                console.log(arr_id)
                if (arr_id == null) {
                    layer.alert('请选择要取消审核的评论!', { title: '提醒', skin: 'layui-layer-molv', icon: 2 });
                    return false;
                }

                var url = '/comment/freezeComment'
                var params = {
                    "arr_id": arr_id
                }
                $.ajax({
                    type: 'POST',//方法类型
                    url: url,
                    data: params,
                    success: function (result) {
                        if (result.resultCode == 200) {
                            window.location.reload()
                        } else {
                            layer.msg(result.message)
                        };
                    },
                    error: function () {
                        layer.alert('操作错误!', { title: '提醒', skin: 'layui-layer-molv', icon: 2 });
                    }
                });
            }

            window.deleteComment = function () {
                var arr_id = getChecked()
                console.log(arr_id)
                if (arr_id == null) {
                    layer.alert('请选择要删除的评论!', { title: '提醒', skin: 'layui-layer-molv', icon: 2 });
                    return false;
                }
                layer.confirm('真的要删除所选数据吗', { btn: ['确定', '取消'], title: "提示" }, function () {
                    var url = '/comment/deleteComment'
                    var params = {
                        "arr_id": arr_id
                    }
                    $.ajax({
                        type: 'POST',//方法类型
                        url: url,
                        data: params,
                        success: function (result) {
                            if (result.resultCode == 200) {
                                window.location.reload()
                            } else {
                                layer.msg(result.message)
                            };
                        },
                        error: function () {
                            layer.alert('操作错误!', { title: '提醒', skin: 'layui-layer-molv', icon: 2 });
                        }
                    });
                });
            }

            var size = $('#size').val()
            var page = $('#page').val()

            laypage.render({
                elem: 'Claypage',
                count: size,
                limit: 10,
                curr: page,
                jump: function (obj, first) {
                    if (!first) {
                        window.location.href = '/admin/commentManage?page=' + obj.curr
                    }
                }
            });

        });
    </script>

</body>

</html>