/* 全局 */
html,body{overflow-x: hidden;}
html{background-color: #F2F2F2;}
i{font-style: normal;}

.header {height: 59px;border-bottom: 1px solid #404553;background-color: #393D49; margin-bottom: 10px;}
.logo{position: absolute;left: 47px;top: 16px;}
.logo img{width: 122px; height: 31px;}
.headImg {height: 48px; width: 48px; position: absolute; top: 10px;}
.content-body{position: relative; padding: 10px 15px; line-height: 24px;}
.content-body img{width: 100%;}