<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="header::head-fragment('首页')">
</head>

<body>
    <div th:replace="header::header-fragment"></div>
    <div class="layui-container" style="margin-bottom: 10px;">
        <div class="layui-panel">
            <div style="margin: 10px; color: black;">
                <span class="layui-breadcrumb" lay-separator="|">
                    <a class="layui-this" href="">首页</a>
                    <a href="">首页</a>
                    <a href="">首页</a>
                    <a href="">首页</a>
                    <a href="">首页</a>
                </span>
                <div class="layui-layout-right">
                    <a th:href="@{/article/articlePub}"><button class="layui-btn">发布新贴</button></a>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-container">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md8">
                <div class="layui-card">
                    <div class="layui-card-header">
                        <a href="">默认</a>
                    </div>
                    <div class="layui-card-body">
                        嗨嗨嗨
                    </div>
                </div>
                <div class="layui-card">
                    <div class="layui-card-header">
                        <a href="">默认</a>
                    </div>
                    <div class="layui-card-body">
                        嗨嗨嗨
                    </div>
                </div>
                <div class="layui-card">
                    <div class="layui-card-header">
                        <a href="">默认</a>
                    </div>
                    <div class="layui-card-body">
                        嗨嗨嗨
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="layui-card">
                    <div class="layui-card-header">
                        查找文章
                    </div>
                    <div class="layui-card-body">
                        <form class="layui-form" action="">
                            <div class="layui-form-item">
                                <div class="layui-input-inline">
                                    <input placeholder="根据关键字查找" value="" name="keyword" id="keyword" class="layui-input" type="text">
                                </div>
                                <button class="layui-btn"><i class="layui-icon layui-icon-search"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-footer">
        <p></p>
    </div>

    <script th:src="@{/layui/layui.js}"></script>
    <script>
        layui.use(['layer', 'form', 'element'], function () {
            var layer = layui.layer
            var element = layui.element;
            form = layui.form;
        });
    </script>
</body>

</html>